/* Ruchella kock
12460796
description: contains the css for the visualizations
 */
.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* Set position of tooltip and width of the "box" */
.tooltip {
  position: absolute;
  width: 110px;
  height: 55px;
  pointer-events: none;
  background-color: #bae4bc;
  border-radius: 5px;
  text-align: center;
}

.CIbox {
  position: absolute;
  top: 500;
  left: 10;
  width: 400px;
  height: 400px;
}

.map {
  position: relative;
  top: 100px;
  left: 400px;
  width: 1000px;
  height: 600px;
}
