/* Ruchella kock
12460796
source: https://www.w3schools.com/howto/howto_css_dropdown.asp
*/

/* format Green button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Set position of box */
.dropdown {
    position: static;
    display: inline-block;
}

/* format the options in the button */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* format the text inside of the options */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* change background color of the option that is being hovered over*/
.dropdown-content a:hover {background-color: #ddd;}

/* Show the content */
.dropdown:hover .dropdown-content {display: block;}

/* Change the color of the button when hovering */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Set position of tooltip and width of the "box" */
.tooltip {
  position: absolute;
  width: 110px;
  height: 55px;
  pointer-events: none;
  background-color: #fee090;
  border-radius: 5px;
  text-align: center;
}
